@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
  background: #fff;
}
.wrapper{
  margin: 10px;
}
.wrapper .top_navbar{
  z-index:1;
  width: calc(100% + 25px);
  height: 140px;
  display:flex;
  position: fixed;
  top: 10px;
  opacity:1;
}
.search_filter{
}

.redfont {
  width: 107px;
  color: #fff;
  background: rgba(182,25,25,1);
  position:absolute;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
  border-radius: 20px;
  padding: 10px 9px;
  margin-top: -10px;
}

.filter {
  width: 150px;
  color: #fff;
  background: rgba(182,25,25,1);
  position: relative;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 13px;
  opacity: 1;
  text-align: center;
  border-radius: 20px;
  margin-top:10px;
  margin-left: 20px;
}

.cadre_image{

  width: 260px;
  height: 150px;
  padding-right: 5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  object-fit: cover;
  overflow: hidden;
}

.section_news{
  padding-left: 10px;

}

.cadre{
  border-radius: 20px;
  border: 1px solid rgb(218, 220, 224);
  min-width: 200px;
  width: 260px;
  overflow: hidden;
  box-sizing: border-box;
  height: 360px;
  display: flex;
  flex-direction: column;
  display:inline-block;

}

.news_title{
  width: 200px;
  padding-left: 40px;
  font-family: Roboto;
}

.titles{

  font-family: Roboto;
  font-weight: Regular;

}

.download{
  padding-left: 2px;
}

.readmore{
margin-left: 140px;
margin-top: -30px;
}

.msg{
  font-family: Roboto;
  font-weight: Regular;
  padding-left: -110px;
  margin-left: 10px;
}

.submit{
  padding-left: 35px;
}



.wrapper .top_navbar .top_menu{
  width: calc(100% - 70px);
  height: 100%;
  background: #fff;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.wrapper .top_navbar .top_menu .logo{
  color: #2e4ead;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
  width: 35px;
  height: auto;
}

.wrapper .top_navbar .top_menu ul{
  display: flex;
}
#search {
  padding: 15px 9px;
  height: 20px;
  width: 300px;
  border: 1px solid #a4c3ca;
  background: #f1f1f1;
  border-radius: 50px 3px 3px 50px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
  }
#button {
  padding: 5px 5px;
}
  .searchbutton{
    margin-right: 200px;
  }
  .blackfont {
    width: 124px;
    color: #fff;
    position:relative;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: center;
    background: #000;
    border-radius: 20px;
    padding: 10px 9px;
    margin-right: 100px;
  }
  .whitefont {
    width: 124px;
    color: #000;
    position:relative;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 14px;
    opacity: 1;
    text-align: center;
    background: #fff;
    border-radius: 20px;
    padding: 10px 9px;
    margin-right: 50px;
  }

.wrapper .top_navbar .top_menu ul li a{
  display: block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #2e4ead;
  border-radius: 50%;
  color: #2e4ead;
  margin-right: 150px;
}

.wrapper .top_navbar .top_menu ul li a:hover{
  background: #4360b5;
  color: #fff;
}

.wrapper .top_navbar .top_menu ul li a:hover i{
  color: #fff;
}

.wrapper .main_container{
  width: (100% - 200px);
  margin-top: 200px;
  padding: 15px;
  transition: all 0.3s ease;
}

.wrapper .main_container .item{
  background: #fff;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 14px;
  line-height: 22px;
}

.wrapper.collapse .sidebar{
  width: 70px;
}

.wrapper.collapse .sidebar ul li a{
  text-align: center;
}

.wrapper.collapse .sidebar ul li a span.icon{
  margin: 0;
}

.wrapper.collapse .sidebar ul li a span.title{
  display: none;
}

.wrapper.collapse .main_container{
  width: (100% - 70px);
  margin-left: 70px;
}
.wrapper .sidebar{
  z-index:-1;

  position: fixed;
  top: 70px;
  left: 10px;
  background: #fff;
  width: 200px;
  height: calc(100% - 80px);
  border-bottom-left-radius: 20px;
  transition: all 0.3s ease;
  margin-top:90px;
}

.wrapper .sidebar ul li a{
    display: block;
    padding: 20px;
    color: #fff;
    position: relative;
    margin-bottom: 1px;
    color: #92a6e2;
    white-space: nowrap;
}

.wrapper .sidebar ul li a:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: #92a6e2;
  display: none;
}

.wrapper .sidebar ul li a span.icon{
  margin-right: 10px;
  display: inline-block;
}

.wrapper .sidebar ul li a span.title{
  display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
  background: #4360b5;
  color: #fff;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
  display: block;
}

.wrapper .main_container{
  width: (100% - 200px);
  margin-top: 100px;
  margin-left: 200px;
  padding: 15px;
  transition: all 0.3s ease;
}

.wrapper .main_container .item{
  background: #fff;
  margin-bottom: 10px;
  margin-top: 80px;
  padding: 15px;
  font-size: 14px;
  line-height: 22px;
}

.wrapper.collapse .sidebar{
  width: 70px;
}

.wrapper.collapse .sidebar ul li a{
  text-align: center;
}

.wrapper.collapse .sidebar ul li a span.icon{
  margin: 0;
}

.wrapper.collapse .sidebar ul li a span.title{
  display: none;
}
#contactt{
  margin-left: 50%;
}
#block_container {
  margin-bottom: 20px;
}
.signin{
  margin-top: -2px;
}
