

nav a {
   
     font-size: 25px;
     text-decoration: none;
     font-family:Georgia, 'Times New Roman', Times, serif;
     
}
nav img{
    width: 99px;
}
nav{
    height: 60px;
    display: flex !important;
}
.nav{
   
    padding: 10px 10px;
    margin: 0% auto 25% auto ;
}
.navlink{
    color: rgb(0, 0, 0);
    margin: 0 10px;
    font-size: 25px;
     text-decoration: none;
     font-family:Georgia, 'Times New Roman', Times, serif;
}

#acc
{
    margin-left: 500px;
}
article
{
    background-color: rgba(141, 18, 18, 1);
    height: 155px;
    display: flex;
}
article img{
    float:left;
}
article p{
    margin-top: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    color: rgb(255, 255, 255);
    margin-left: 21px;
    width: 747px;
}

/*+++++search box ++++++++++++*/
.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid #000000;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #000000;
  }
  
  .searchTerm:focus{
    color: #a52222;
  }
  
  .searchButton {
    width: 40px;
    height: 36px;
    border: 3px solid #000000;
    background: #aeb9bb;
    text-align: center;
    color: rgb(10, 10, 10);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 344px;
    margin-top: 58px;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  }
/*++++++++++ le tableau +++++++++++ */
.styled-table {
    border-collapse: collapse;
    margin: 60px 60px;
    
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 90%;
    /*min-width: 400px;*/
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: rgba(141, 18, 18, 1);
    color: #ffffff;
    text-align: center;
    font-size: 18px;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
    font-weight: bold;
    text-align: center;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid rgba(141, 18, 18, 1);
    
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    text-align: center; 
    color:rgba(141, 18, 18, 1);
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
.p3 a{
    text-decoration: none;
    font-size: 22px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    font-weight: bold;
}
.p3 p{
    font-size: 20px;
    font-style: italic;
    color: rgb(90, 83, 83);
    font-family: roboto;
}
.p3 hr{
    background-color :rgba(141, 18, 18, 1);
    height: 5px;
}
.p3{    
    margin-right: 2%;
    margin-left: 2%;
}
.pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  .pagination a.active {
    background-color: #1c1f1c;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}
 
  
  a:hover {
    color: #960000;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: #960000;
    background-color: transparent;
    text-decoration: underline;
  }