
nav img{
   width: 87px;
}
nav{
   height: 60px;
   display: flex;
}
.nav{
  
   padding: 10px 10px;
   margin: 0% auto 25% auto ;
}
.navlink{
    font-size: 25px;
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0 10px;
    color: rgb(0, 0, 0);

}
.top{
    display: flex;
    background-image: url(acceuiltop.PNG);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 500px;
}
 .top img{
     margin: 100px auto 200px auto;
    height:200px ;
    width:auto
 }
 .top h2{ 
     margin: 20px 0;
     color: cornsilk;
 }
 .top div{
    margin: 100px 40px 200px auto;
     position: relative;
 }

 .top p{
    color: cornsilk;
    

 }
 .mdi{
     padding:100px 30%;
     
 
 }
 .mdi > img{
     width: 100%;
     height: 200px;
     border: solid;
     border-radius: 10px;
     border-width: 0cm;
 }
 .mdi > h2 {
     margin:  50px 30% 100px 30%;

 }
 .momber{
     
     margin: 10px 40px;
 }
 .mombers{
    padding-left: 88px;
    display: flex;
 }
 .momber img{
    width: 150px;
    height: 150px;
    border: solid;
    border-radius: 10px;
    border-width: 0cm;

 }
 .momber h4{
     padding-left:40px ;
 }

.mdi>h2{
    font-size: 30px;
    font-weight: lighter;
    color: darkred;
    padding-left: 65px;
}
.bot{
    display: flex;
margin-left: 29%;
}

.botItem{
    padding:30px;
}
.botItem >h3{
    color: rgb(212, 0, 0);
}
.botimg{
    width:15%;
    margin-bottom: 20px;
}
.partitle{
    font-size: 20px;
    color: rgb(187, 7, 7);
}
.pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
  }
  
  .pagination a.active {
    background-color: #1c1f1c;
    color: white;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}
  
.formStyle{
box-shadow: 5px 20px 50px #000;
border-radius: 10px;
}

.input{
border-radius: 10px;
width: 100%;
}

.buttonForm{
border-radius: 10px;
 background-color:#8D1212;
color:white;
width: 100%;
 margin-bottom:20px
}

.contact{
width:100%;
background-color:#8D1212;
color:white
}

.img1{
margin-left:30%;
 margin-right:20% ;
margin-top:10px
}

.description{
margin-top: 3%;
margin-left:20%;
margin-right:10%
}

.LegalNotice{
border-top-style: solid;
border-color: white;
margin-top:7px;
margin-left:30px;
margin-right:30px
}
.left{
	margin-left: 10%;
}

  
  a:hover {
    color: #960000 !important;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: #960000 !important;
    background-color: transparent;
    text-decoration: underline;
  }